.container {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1519003722824-194d4455a60c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2075&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.content {
  padding: 48px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 250px;
}

.content button {
  margin-bottom: 32px;
}
