.footer {
    padding: 50px 0;
    background-color: #2f3640;
}

.footer p {
    text-align: center;
    color: white;
    margin-top: 16px;
}

.footer a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 16px;
}

.footer a:hover {
    color: rgb(57, 118, 231);
}

.arrow {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center;
}

.arrow a {
    color: #74808a;
}

.arrow i {
    display: block;
    margin-top: -10px;
}

.arrow p {
    color: white;
}

.arrow a:hover {
    color: rgb(57, 118, 231);
}